@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

.main-body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto, Arial, Helvetica";
    line-height: 1.5;
    padding: 0.5em 1em;
    color: #555;
}

nav {
    background-color: #000000;
    width: 100%;
    overflow: hidden;
}

nav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

header {
    padding-top: .25em;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}


h1, h2, h4, b, strong {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

#login {
    padding-left: 50em;
}

a {
    color: red;
}