body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;


}
.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.box h2
{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputBox
{
    position: relative;
}
.box .inputBox input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .inputBox label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~  label,
.box .inputBox input:valid ~  label,
.box .inputBox input:valid ~  label

{
    top: -18px;
    left: 0;
    color: red;
    font-size: 12px;
}

.box input[type="submit"]
{
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: red;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}
.box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;

}

.box a:hover{
    color: red
}

.box input[type="close"]
{
    width: 5%;
    margin-left: 280px;
    margin-bottom: 20px;
    background: transparent;
    background: red;
    border: none;
    outline: none;
    height: 28px;
    color: #fff;
    font-size: 22px;
    font: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50px;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(254, 254, 254, 0);
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

